@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@tailwind utilities;

* {
  font-family: "Roboto", sans-serif;
}

/* 
Colors

primary: #FFA322
text: #282828
light-primary: #ffa32233
light-text: #28282833    20%
dark-grey: #787878
grey: #D9D9D9

background: #F6F6F6

green: #32C058
red: #EE3A4B
blue: #2696FF
orange: #ffa322

padding - p-3
radius - rounded-lg

 className="flex flex-col p-5 gap-5 rounded-lg bg-white text-[#282828]" - containers brancos

Responsive
lg:
*/